<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= `Welcome to the ${participant.name} Dashboard` %></title>
  <link rel="stylesheet" href="/styles/participant_style.css">
</head>
<body>
  <div class="container">
    <header>
    <h1><%= `Welcome ${participant.fname} ${participant.lname}!` %></h1>
      
    <form class="logout-form" action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  </header>
  <h2>All Planned Events</h2>
  <div class="event-list">
  <% events.forEach(event => { %>
    <div class="event-box">
      <h3><%= event.event_name %> -organized by- <%= event.team_name %></h3>
      <p>Event Date: <%=event.event_date%></p>
      <p>Organizer email: <%=event.email%></p>
      <% if (seminars.find(seminar => seminar.event_name === event.event_name)) { %>
        <% const seminar = seminars.find(seminar => seminar.event_name === event.event_name); %>
        <p>Event Type: Seminar</p>
        <p>Topic: <%= seminar.topic %></p>

        <p>Speakers</p>
        <ul>
          <% speakers.forEach(speaker => { %> 
            <% if(speaker.event_name === event.event_name) { %>
              <li><%=speaker.speaker_name %></li>
            <% } %>
          <% }); %>
        </ul>

        <p>Sponsors</p>
        <ul>
          <% sponsors.forEach(sponsor => { %> 
            <% if(sponsor.event_name === event.event_name) { %>
              <li><%=sponsor.sponsor_name %></li>
            <% } %>
          <% }); %>
        </ul>

        <p>Target Audience: <%= seminar.target_audience %></p>
        <button class="register-btn" onclick="registerEvent('<%= event.event_name %>', '<%= participant.participant_id %>')">Register</button>
      <% } else if (workshops.find(workshop => workshop.event_name === event.event_name)) { %>
        <% const workshop = workshops.find(workshop => workshop.event_name === event.event_name); %>
        <p>Event Type: Workshop</p>
        <p>Theme: <%= workshop.theme %></p>
        <!-- <p>Max Capacity: <%= workshop.max_capacity %></p> -->
        <p>Registration Deadline: <%= workshop.registration_deadline %></p>
        <p>Sponsors</p>
        <ul>
          <% sponsors.forEach(sponsor => { %> 
            <% if(sponsor.event_name === event.event_name) { %>
              <li><%=sponsor.sponsor_name %></li>
            <% } %>
          <% }); %>
        </ul>
        <p>Team Size: <%= workshop.team_size %></p>
        <button class="register-btn" onclick="registerEvent('<%= event.event_name %>', '<%= participant.participant_id %>')">Register</button>
      <% }  %>
    </div>
  <% }); %>
</div>

  <h2>Your Registered Events</h2>
  <div class="registered-event-list">
  <% registeredEvents.forEach(event => { %>
    <div class="registered-event-box">
      <h3><%= event.event_name %> -organized by- <%= event.team_name %></h3>
      <p>Event Date: <%=event.event_date%></p>
      <p>Organizer email: <%=event.email%></p>
      <% if (seminars.find(seminar => seminar.event_name === event.event_name)) { %>
        <% const seminar = seminars.find(seminar => seminar.event_name === event.event_name); %>
        <p>Event Type: Seminar</p>
        <p>Topic: <%= seminar.topic %></p>
        <p>Speakers</p>
        <ul>
          <% speakers.forEach(speaker => { %> 
            <% if(speaker.event_name === event.event_name) { %>
              <li><%=speaker.speaker_name %></li>
            <% } %>
          <% }); %>
        </ul>

        <p>Sponsors</p>
        <ul>
          <% sponsors.forEach(sponsor => { %> 
            <% if(sponsor.event_name === event.event_name) { %>
              <li><%=sponsor.sponsor_name %></li>
            <% } %>
          <% }); %>
        </ul>
        <p>Target Audience: <%= seminar.target_audience %></p>
        
      <% } else if (workshops.find(workshop => workshop.event_name === event.event_name)) { %>
        <% const workshop = workshops.find(workshop => workshop.event_name === event.event_name); %>
        <p>Event Type: Workshop</p>
        <p>Theme: <%= workshop.theme %></p>
        <!-- <p>Max Capacity: <%= workshop.max_capacity %></p> -->
        <p>Registration Deadline: <%= workshop.registration_deadline %></p>
        <p>Sponsors</p>
        <ul>
          <% sponsors.forEach(sponsor => { %> 
            <% if(sponsor.event_name === event.event_name) { %>
              <li><%=sponsor.sponsor_name %></li>
            <% } %>
          <% }); %>
        </ul>
        <p>Team Size: <%= workshop.team_size %></p>
        
      <% }  %>
    </div>
  <% }); %>
</div>
  
  <form class="logout-form" action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
</div>

  <form id="registerForm" action="/register-event" method="POST" style="display: none;">
    <input type="hidden" id="event_name" name="event_name">
    <input type="hidden" id="participant_id" name="participant_id">
  </form>

  <script>

    function registerEvent(event_name,participant_id) {
      document.getElementById('event_name').value = event_name;
      document.getElementById('participant_id').value = participant_id;
      
      document.getElementById('registerForm').submit();
    }
  </script>
</body>
</html>
